.main{
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.text-theme{
    color: #505abb;
}

.bg-theme{
    background-color: #505abb;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }  
  

  .bgImg {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 1s 1 slideInFromLeft;
  }
  
  .loginSec{
    animation: 2s ease-out 1s 1 slideInFromTop;
  }